<!-- src/_includes/workout-display.njk -->
<div id="cycle-info" class="cycle-info">
    <h3>{{cycleData.description}}</h3>
    <h4>{{ cycleData.week }}</h3>

</div>


<div id="workout-display" class="workout-display">
    <!-- Workout cards will be generated here by JavaScript -->
</div>
