@import url('base/variables.css');
@import url('base/reset.css');
@import url('base/typography.css');
@import url('base/layout.css');
@import url('base/title.css');
@import  url('base/app-base.css');

@import url('components/save-button.css');
@import url('components/navbar.css');
@import url('components/forms.css');
@import url('components/cards.css');
@import url('components/info-sections.css'); 
@import url('components/workout-display.css');
@import url('components/status-indicators.css');
@import url('components/lift-pages.css');


@import url('utilities/animations.css');
@import url('utilities/responsive.css');