---
layout: app-base.njk
title: "Bench Press Workout"
permalink: "/app/bench/"
liftType: "bench"
liftName: "Bench Press"
prevUrl: "/app/squat/"
prevName: "Squat"
nextUrl: "/app/deadlift/"
nextName: "Deadlift"
---
{% include "lift-page-wrapper.njk" %}
