---
layout: app-base.njk
title: "Deadlift Workout"
permalink: "/app/deadlift/"
liftType: "deadlift"
liftName: "Deadlift"
prevUrl: "/app/bench/"
prevName: "Bench"
nextUrl: "/app/ohp/"
nextName: "OHP"
---
{% include "lift-page-wrapper.njk" %}
