---
layout: app-base.njk
title: "Overhead Press Workout"
permalink: "/app/ohp/"
liftType: "ohp"
liftName: "Overhead Press"
prevUrl: "/app/deadlift/"
prevName: "Deadlift"
nextUrl: "/app/squat/"
nextName: "Squat"
---
{% include "lift-page-wrapper.njk" %}
