---
layout: app-base.njk
title: "Squat Workout"
permalink: "/app/squat/"
liftType: "squat"
liftName: "Squat"
prevUrl: "/app/ohp/"
prevName: "OHP"
nextUrl: "/app/bench/"
nextName: "Bench"
---
{% include "lift-page-wrapper.njk" %}
